<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Myket in-app billing permission -->
    <uses-permission android:name="ir.mservices.market.BILLING" />

    <!-- Remove other store billing permissions -->
    <uses-permission
        android:name="com.farsitel.bazaar.permission.PAY_THROUGH_BAZAAR"
        tools:node="remove" />
    <uses-permission
        android:name="com.android.vending.BILLING"
        tools:node="remove" />

    <application>
        <!-- Remove Cafe Bazaar Poolakey receiver in Myket flavor -->
        <receiver
            android:name="ir.cafebazaar.poolakey.receiver.BillingReceiver"
            tools:node="remove" />
    </application>

    <!-- Package Visibility Queries for Myket In-App Billing -->
    <queries>
        <package android:name="ir.mservices.market" />
        <intent>
            <action android:name="ir.mservices.market.InAppBillingService.BIND" />
        </intent>
    </queries>
</manifest>
